@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');



body
{
	width:auto;
	height:auto;
	margin: 50;
	padding: 0;
	background:url(cus.jpg);
	color:solid Black;
	font-family: 'Roboto Condensed', sans-serif;
}
h1{
	
	font-size: 40px;
	color:lightblue;
}

.header1
{
	width: 100%;
	height: 150px;
	padding: 5px;
	color:light blue;
	
}

.forms-data
{
	background-color:light blue;
	width: 550px;
	height: auto;
	text-align: center;
	border: 0.5px solid purple;
	border-radius: 15px;
	margin-left: 20px;
	color:blue;
	font-size:20px;
}

.form-control
{
	padding: 10px;
	 height: 15px;
	 margin-top: 5px;
}

a {
	
	text-decoration: none;
	
	font-size: 25px;
	color:INDIANRED;
}
.formsubmitbutton
{
	
	width: 100px;
	height:  25px;
	border-radius: 20px;
	margin-top: 10px;
	margin-left: 50px;
	

}
ul{
	text-align: right;
	margin-right: 100px;
}

li {
	
	display: inline;
	padding-right: 10px;
}

li a:hover{
	color: yellow;
	font-size: 22px;
	
}
form-controls
{
	display:block;
	margin:1px;
	padding:1px;
}
.forms-data{
	margin:15px;
	padding:10px;
}
input:invalid{
	background-color:Red;
}


.errors
{
	 
	font-size: 22px;
}

tr
{
	border: 1px solid white;
	color:pink;
	font:15px;
	
}
td
{
	color:WHITE;
	font:50px;
}
dropdown
{
	font:30px;
}
